[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
DNS.1 = kubernetes
DNS.2 = kubernetes.default
DNS.3 = r12s7.sjc.aristanetworks.com
DNS.4 = r123s7.sjc.aristanetworks.com
DNS.5 = master.staging-infra.corp.arista.io
IP.1 = 10.3.0.1
IP.2 = 172.24.32.7
IP.3 = 172.30.190.8
