[Service]
Environment=KUBELET_IMAGE_TAG=v{{ k8s_version }}_coreos.0
Environment="RKT_RUN_ARGS=--volume=resolv,kind=host,source=/etc/resolv.conf \
  --mount volume=resolv,target=/etc/resolv.conf \
  --uuid-file-save=/var/run/kubelet-pod.uuid"
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/run/kubelet-pod.uuid
ExecStart=/usr/lib/coreos/kubelet-wrapper \
  --require-kubeconfig=true \
  --kubeconfig=/etc/kubernetes/{{ kubeconfig }}.yaml \
{% if 'k8s_masters' in group_names %}
  --register-schedulable=false \
{%else%}
  --register-node=true \
{% endif %}
  --allow-privileged=true \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --hostname-override={{ ansible_host }} \
  --cluster_dns=10.3.0.10 \
  --cluster_domain={{ k8s_domain }} \
  --volume-stats-agg-period=0 \
  --cadvisor-port=4194{% if 'k8s_masters' not in group_names %} \
  --tls-cert-file=/etc/kubernetes/ssl/worker.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/worker-key.pem{% endif %}

ExecStop=-/usr/bin/rkt stop --uuid-file=/var/run/kubelet-pod.uuid

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
