[Service]
ExecStart=/opt/bin/kubelet-{{ k8s_version }} \
  --address={{ lookup('ip_by_prefix', private_ip_prefix) }} \
  --require-kubeconfig=true \
  --kubeconfig=/etc/kubernetes/{{ kubeconfig }}.yaml \
{% if 'k8s_masters' in group_names %}
  --register-schedulable=false \
{%else%}
  --register-node=true \
{% endif %}
  --allow-privileged=true \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --hostname-override={{ inventory_hostname }} \
  --cluster_dns={{ cluster_dns }} \
  --cluster_domain=internal.{{ k8s_domain }} \{% if flannel_kube %}
  --network-plugin=cni \
  --cni-conf-dir=/etc/cni/net.d \
  --cni-bin-dir=/opt/cni-v{{ cni_version }}/bin \{% endif %}

  --volume-stats-agg-period=0 \
  --feature-gates=PersistentLocalVolumes=true \
  --cadvisor-port=0{% if 'k8s_masters' not in group_names %} \
  --tls-cert-file=/etc/kubernetes/ssl/worker.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/worker-key.pem{% endif %}

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
