apiVersion: v1
kind: Pod
metadata:
  name: kube-apiserver
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-apiserver
    image: gcr.io/google_containers/hyperkube:v{{ k8s_version }}
    command:
    - /hyperkube
    - apiserver
    - --bind-address={{ lookup('ip_by_prefix', private_ip_prefix) }}
    - --etcd_servers={% set comma = joiner(",") %}{% for host in groups.etcd2 %}{{ comma() }}https://{{ hostvars[host]['inventory_hostname'] }}:2379{% endfor %}

    - --allow-privileged=true
    - --service-cluster-ip-range={{ service_cluster_ip_range }}
    - --secure_port=443
    - --advertise-address={{ ansible_default_ipv4["address"] }}
    - --admission-control=NamespaceLifecycle,NamespaceExists,LimitRanger,ServiceAccount,ResourceQuota
    - --tls-cert-file=/etc/kubernetes/ssl/apiserver.pem
    - --tls-private-key-file=/etc/kubernetes/ssl/apiserver-key.pem
    - --client-ca-file=/etc/kubernetes/ssl/ca.pem
    - --service-account-key-file=/etc/kubernetes/ssl/apiserver-key.pem
    - --runtime-config=batch/v2alpha1
    - --storage-backend
    - etcd2
    - --etcd-cafile=/etc/ssl/etcd/ca.pem
    - --etcd-certfile=/etc/ssl/etcd/client.pem
    - --etcd-keyfile=/etc/ssl/etcd/client-key.pem
    - --storage-media-type
    - application/json
    - --feature-gates=PersistentLocalVolumes=true
    ports:
    - containerPort: 443
      hostPort: 443
      name: https
    - containerPort: 8080
      hostPort: 8080
      name: local
    volumeMounts:
    - mountPath: /etc/kubernetes/ssl
      name: ssl-certs-kubernetes
      readOnly: true
    - mountPath: /etc/ssl/certs
      name: ssl-certs-host
      readOnly: true
    - mountPath: /etc/ssl/etcd
      name: ssl-certs-etcd
      readOnly: true
  volumes:
  - hostPath:
      path: /etc/ssl/etcd
    name: ssl-certs-etcd
  - hostPath:
      path: /etc/kubernetes/ssl
    name: ssl-certs-kubernetes
  - hostPath:
      path: /usr/share/ca-certificates
    name: ssl-certs-host
