alias ll="ls -la"

{% if cluster_name is defined %}
{% if cluster_name == 'dev' %}
{% set color = '01;35' %}
{% elif cluster_name == 'staging' %}
{% set color = '01;33' %}
{% else %}
{% set color = '01;31' %}
{% endif %}
# Add cluster name to the prompt
export PS1='\[\033]0;\u@\h:\w\007\]\[\033[01;32m\]\u@\h\[\033[01;34m\] \[\033[{{ color }}m\][{{ cluster_name }}]\[\033[00m\] \[\033[01;34m\]\w \$\[\033[00m\] '
{% endif %}
